<h1 class="all_tweet_heading">Black lines matter</h1>
<!-- <table>
  <tr>
    <th>I said:</th>
    <th>who said?</th>
  </tr>
  <% Post.all.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <th><%= post.content.notsure%></th>
    </tr>


</table> -->


    <ul>
      <% @posts.each do |post| %>
        <li>
          <a href="/posts/<%= post.id%>">
            <%= post.title %>
            <%= post.content %>
          </a>
        </li>
        <% end %>
    </ul>
